{% extends 'base.html' %}
{% block style %}
    <style>
        .info img{
            margin-left: 60px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 align="center">{{ post.title }}</h2>
    <div class="row info">
    <div class="col-md-12 offset-4">
         {% if post.image %}
        <img src="{{ post.image.url }}"  width="400" height="600" alt="image">
    {% endif %}
    <p>{{ post.content }}</p>
    <iframe width="560" height="315" src="{{ post.link }}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><small>Видеоурок</small></p>
    </div>
    </div>

{% endblock %}